:root {
  --text-color: black;
  --table-padding: 4px 6px;
  --compressed-table-padding: 4px 4px;
}

* {
  box-sizing: border-box;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
html {
  word-break: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}
body {
  color: var(--text-color);
  width: 100vw;
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
table,
table th,
table td {
  border: 1.2px solid black;
}
table tr {
  line-height: 20px;
}
table th {
  padding: var(--table-padding);
  padding-top: 12px;
  padding-bottom: 12px;
}
table td {
  padding: var(--table-padding);
}
table img {
  max-width: 100%;
}
table td > p:first-child {
  margin-block-start: 0.5em;
}
table td > p:last-child {
  margin-block-end: 0.5em;
}

.button {
  display: inline-block;
  outline: none;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  background-color: #eeeeee;
  color: var(--text-color);
  padding: 2px 6px 2px 6px;
  border: 1px solid #cccccc;
}

#navbar {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#navbar a {
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  padding: 20px;
}

#container {
  padding: 10px;
  width: 100%;
  max-width: 1020px;
  margin: auto;
}

/* 响应 */
#arespunc-message-list > tbody > tr > td:nth-child(1) {
  width: 35px;
  text-align: center;
  padding: var(--compressed-table-padding);
}
#arespunc-message-list > tbody > tr > td:nth-child(2) {
  width: 60px;
  text-align: center;
  padding: var(--compressed-table-padding);
}
#arespunc-message-list > tbody > tr > td:nth-child(3) {
  width: 120px;
}
#arespunc-message-list > tbody > tr > td:nth-child(4) {
  padding-left: 12px;
  padding-right: 12px;
}
#arespunc-message-list > tbody > tr > td:nth-child(4) > img {
  width: 100%;
  margin: auto;
  max-width: 320px;
}

/* 云课堂 */
#smartclassstu-list > tbody > tr > td:nth-child(1) {
  /* # */
  text-align: center;
  padding: var(--compressed-table-padding);
}
#acldstu-list > tbody > tr > td:nth-last-child(2) {
  /* 用户 */
  width: 85px;
  padding: var(--compressed-table-padding);
}
#smartclassstu-list > tbody > tr > td:nth-last-child(3),
#smartclassstu-list > tbody > tr > td:nth-last-child(4) {
  /* 创建时间 & 更新时间 */
  width: 110px;
}

/* 云作业 */
#acldstu-list > tbody > tr > td:nth-child(1) {
  /* # */
  text-align: center;
  padding: var(--compressed-table-padding);
}
#acldstu-list > tbody > tr > td:nth-child(2) {
  /* 学科 */
  width: 70px;
  text-align: center;
  padding: var(--compressed-table-padding);
}
#acldstu-list > tbody > tr > td:nth-last-child(1) {
  /* 用户 */
  width: 85px;
  padding: var(--compressed-table-padding);
}
#acldstu-list > tbody > tr > td:nth-last-child(2),
#acldstu-list > tbody > tr > td:nth-last-child(3) {
  /* 创建时间 & 更新时间 */
  width: 110px;
}
#acldstu-list > thead > tr > th:nth-last-child(4) {
  /* 分数 */
  padding: var(--compressed-table-padding);
}
#acldstu-list > tbody > tr > td:nth-last-child(4) {
  /* 分数 */
  width: 40px;
  text-align: center;
}

#acldstu-homework > tbody > tr > td:nth-child(1) {
  width: 35px;
  text-align: center;
  padding: var(--compressed-table-padding);
}
#acldstu-homework > tbody > tr > td:nth-child(2) {
  width: 45px;
  text-align: center;
}
#acldstu-homework > tbody > tr > td:nth-child(3) {
  padding-left: 12px;
  padding-right: 12px;
}

#acldstu-homework-sheet > thead > tr > th:nth-child(1) {
  background: #f0f0f0;
}
#acldstu-homework-sheet > tbody > tr > td:nth-child(1) {
  background: #f0f0f0;
  width: 35px;
  text-align: center;
  padding: var(--compressed-table-padding);
}
#acldstu-homework-sheet > tbody > tr > td:nth-child(3),
#acldstu-homework-sheet > tbody > tr > td:nth-child(4) {
  text-align: center;
}
@media print {
  #acldstu-homework-sheet > thead > tr > th:nth-child(1),
  #acldstu-homework-sheet > tbody > tr > td:nth-child(1) {
    background: #fff;
  }
}

#acldstu-homework-mcq tbody > tr > td {
  text-align: center;
}
#acldstu-homework-mcq tbody > tr:nth-child(odd) {
  background: #f0f0f0;
}
#acldstu-homework-mcq tbody > tr:nth-child(odd) > td {
  font-weight: bold;
}
@media print {
  #acldstu-homework-mcq tbody > tr:nth-child(odd) {
    background: #fff;
  }
}
