:root {
  --text-color: black;
}

* {
  box-sizing: border-box;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: rgba(50, 50, 50, .3);
}
::-webkit-scrollbar-track {
	border-radius: 1em;
	background-color: rgba(50, 50, 50, .1);
}
html {
  word-break: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
body {
  color: var(--text-color);
  width: 100vw;
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
table,
table th,
table td {
  border: 1.2px solid black;
}
table tr {
  line-height: 20px;
}
table th {
  padding: 10px 8px;
}
table td {
  padding: 5px 8px;
}
table img {
  max-width: 100%;
}
table td > p:first-child {
  margin-block-start: 0.5em;
}
table td > p:last-child {
  margin-block-end: 0.5em;
}

.button {
  display: inline-block;
  outline: none;
  line-height: 16px;
  font-size: 12px;
  text-decoration: none;
  background-color: #eeeeee;
  color: var(--text-color);
  padding: 2px 6px 2px 6px;
  border: 1px solid #cccccc;
}

#navbar {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#navbar a {
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  padding: 20px;
}

#container {
  padding: 10px;
  width: 100%;
  max-width: 1020px;
  margin: auto;
}

#acldstu-list > tbody > tr > td:nth-child(2) {
  min-width: 60px;
  text-align: center;
}
#acldstu-list > tbody > tr > td:nth-last-child(1) {
  min-width: 80px;
}
#acldstu-list > tbody > tr > td:nth-last-child(2),
#acldstu-list > tbody > tr > td:nth-last-child(3) {
  min-width: 120px;
}
#acldstu-list > tbody > tr > td:nth-last-child(4) {
  min-width: 40px;
}

#acldstu-homework > tbody > tr > td:nth-child(1) {
  min-width: 25px;
  padding: 5px 4px;
  text-align: center;
}
#acldstu-homework > thead > tr > th:nth-child(2),
#acldstu-homework > tbody > tr > td:nth-child(2) {
  min-width: 40px;
  padding: 5px 4px;
  text-align: center;
}

#arespunc-message-list > tbody > tr > td:nth-child(1) {
  min-width: 25px;
  text-align: center;
}
#arespunc-message-list > tbody > tr > td:nth-child(2) {
  min-width: 50px;
  text-align: center;
}
#arespunc-message-list > tbody > tr > td:nth-child(3) {
  min-width: 120px;
}
