table {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;

	&,
	th,
	td {
		border: 1.2px solid black;
	}

	tr {
		line-height: 20px;
	}

	th {
		padding: var(--table-padding);
		padding-top: 12px;
		padding-bottom: 12px;
	}

	td {
		padding: var(--table-padding);
	}

	img {
		max-width: 100%;
	}

	td>p:first-child {
		margin-block-start: 0.5em;
	}

	td>p:last-child {
		margin-block-end: 0.5em;
	}
}